#contactContainer{
  /* text-align: center; */
  margin-top: 50vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background-color: #7c9885;
}

.contactHeader{
  color: #033f63;
  text-align: center;
  font-size: 3rem;
  margin-top: 100px;
}

.contactUnderline{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 10rem;
  background-color: #033f63;
  height: 3px;
  border: none;
  border-radius: 2px;
}

.contactForm{
  display: flex;
  flex-direction: column;
  width: 800px;
  align-self: center;
  background-color: #033f63;
  border-radius: 10px;
  margin-top: 20px;
}

#inputName{
  margin-top: -15px;
  font-family: 'Montserrat', sans-serif;
  width: 75%;
  height: 30px;
  align-self: center;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

#inputEmail{
  margin-top: -15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 75%;
  height: 30px;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

#inputMessage{
  margin-top: -15px;
  width: 75%;
  height: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  align-self: center;
  border-radius: 5px;
}

#contactSubmit{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 100px;
  align-self: center;
  margin: 20px;
}

#nameLabel{
  font-size: 25px;
  padding-top: 10px;
  margin-left: 12%;
  color: #fedc97;
}

#emailLabel{
  font-size: 25px;
  margin-left: 12%;
  padding-top: 10px;
  color: #fedc97;
}

#messageLabel{
  font-size: 25px;
  margin-left: 12%;
  padding-top: 10px;
  color: #fedc97;
}

.footContainer{
  width: 100%;
  background-color: #7c9885;
  margin-top: 100px;
  padding: 20px 0px 20px 0px;

}

.contactLinks{
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #fedc97;
  border-radius: 20px;
}

#linkedInLogo{
  width: 75px;
  height: 75px;
  color: #033f63;
}

#linkedInLogo:hover{
  color: #7c9885;
  transition: ease-out 0.3s;
}

#githubLogo{
  width: 75px;
  height: 75px;
  color: #033f63;
}

#githubLogo:hover{
  color: #7c9885;
  transition: ease-out 0.3s;
}

#instagramLogo{
  width: 75px;
  height: 75px;
  color: #033f63;
}

#instagramLogo:hover{
  color: #7c9885;
  transition: ease-out 0.3s;
}

#resumeLogo{
  width: 75px;
  height: 75px;
  color: #033f63;
}

#resumeLogo:hover{
  color: #7c9885;
  transition: ease-out 0.3s;
}

.footLogo{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #033f63;
  font-size: 20px;
  font-weight: bold;
}